/* _colors.scss contains only scss variables, and therefore it is valid for multiple imports */

$background-color-primary: #222;
$background-color-secondary: #272727;

$background-color-accent: #b08a43;

$text-color-primary: #fff;
$text-color-secondary: #d2d2d2;